<h1>{{ title }}</h1>

<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate>

      <div class="form-group">
        <label class="form-control-label">Título</label>
        <input type="text" class="form-control" formControlName="titlenotice" required />
        <div *ngIf="form.controls.titlenotice.invalid && (form.controls.titlenotice.dirty || form.controls.titlenotice.touched)" class="text-danger">
          <div *ngIf="form.controls.titlenotice.errors.required">
            O campo é obrigatório
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label">Descrição</label>
        <textarea class="form-control" formControlName="description" required></textarea>
        <div *ngIf="form.controls.description.invalid && (form.controls.description.dirty || form.controls.description.touched)" class="text-danger">
          <div *ngIf="form.controls.description.errors.required">
            O campo é obrigatório
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label">Data</label>
        <input type="date" class="form-control" formControlName="datanotice" required />
        <div *ngIf="form.controls.datanotice.invalid && (form.controls.datanotice.dirty || form.controls.datanotice.touched)" class="text-danger">
          <div *ngIf="form.controls.datanotice.errors.required">
            O campo é obrigatório
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Áreas</label>
        <select class="form-control" formControlName="zone" (change)="setZoneSelected($event.target.selectedOptions)">
          <option value="">- Escolha -</option>
          <option *ngFor="let zone of zones | async" [value]="zone.key">{{ zone.data.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Cursos</label>
        <select class="form-control" formControlName="course" (change)="setCourseSelected($event.target.selectedOptions)">
          <option value="">- Escolha -</option>
          <option *ngFor="let course of courses | async" [value]="course.key">{{ course.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Turmas</label>
        <select class="form-control" formControlName="classe" (change)="setClasseSelected($event.target.selectedOptions)">
          <option value="">- Escolha -</option>
          <option *ngFor="let classe of classes | async" [value]="classe.key">{{ classe.name }}</option>
        </select>
      </div>

      <div class="row">
      </div>
      <button class="btn btn-primary" type="button" (click)="onSubmit()" [disabled]="!form.valid">Salvar</button>
    </form>
  </div>
</div>

